/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px;
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
  background-color: lightgrey;
  margin-top: 5px;
  width: 60px;
}

div.comment {
  padding: 10px;
  background-color: lightgrey;
  margin-top: 5px;
  width: 500px;
}

#post_info {
  background-color: lightgrey;

}

.vote_box {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 156px;
  float: left;
}

.post_box {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 600px;
  float: left;
}

.post {
  float: left;
}

.comments_header {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 600px;
  float: left;
}